body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #1a0000, #000);
  min-height: 100vh;
  color: white;
}

h1 {
  text-align: center;
  padding: 30px 0;
  color: #f5c542;
}

.tienda {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 30px;
}

.card-producto {
  background: #b11226;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(245,197,66,0.5);
  transition: transform 0.3s;
}

.card-producto:hover {
  transform: scale(1.05);
}

.card-producto img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.contenido {
  padding: 15px;
  text-align: center;
  background: #0f0f0f;
}

.contenido h3 {
  margin: 10px 0;
  color: #f5c542;
}

.contenido p {
  font-size: 14px;
  color: #fff;
}

.precio {
  font-weight: bold;
  margin: 10px 0;
  color: #f5c542;
  font-size: 18px;
}

.btn-comprar {
  display: inline-block;
  margin-top: 10px;
  background: #f5c542;
  color: black;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.btn-comprar:hover {
  background: #fff0a6;
}
.boton-login {
  text-align: center;
  margin-bottom: 20px;
}

.boton-login a {
  background: #b11226;
  color: white;
  padding: 12px 25px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(245,197,66,0.6);
}

.boton-login a:hover {
  background: #f5c542;
  color: black;
}

