body {
  background: linear-gradient(120deg, #000, #2c0000);
  min-height: 100vh;
  font-family: Arial, sans-serif;
  color: white;
  padding: 30px;
}

h2 {
  text-align: center;
  color: #f5c542;
  margin-bottom: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #140000;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(245,197,66,0.5);
}

a {
  color: #f5c542;
  font-weight: bold;
  text-decoration: none;
}

button {
  background: #b11226;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

table th {
  background: #b11226;
  padding: 10px;
}

table td {
  padding: 10px;
  border-bottom: 1px solid #444;
  text-align: center;
}


